body{
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Staatliches', cursive;
}
.section-one{
	height: 100vh;
	background-image: linear-gradient(to bottom,#80d0c7,#13547a);
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-footer{
	background-color: rgb(222,225,225);
}
.box{
	background-color: rgba(50,50,50,0.5);
	padding: 15px;
	border-radius: 5px;
	text-align: center;
}
h1{
	display: block;
    font-size: 2.75em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.social-media{
	font-size: 25px;
}
.social-media a{
	color: #fff;
}
.fa-envelope:hover{
	color: #dd4b39;
}
.fa-twitter:hover{
	color: #55acee;
}
.fa-github:hover{
	color: #000;
}
.hr-default{
	background-color: #fff;
	width: 25%;
	height: 0px;
}
.hr-inverse{
	background-color: #000;
	width: 100%;
	height: 0px;
}
.typeOn a{
	color: #fff;
}
.typeOn a:hover{
	text-decoration: none;
}